html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg) no-repeat center;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    -ms-background-size: cover;
    background-size: cover;
}


body {
    overflow-y: scroll;
    letter-spacing: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" 0;
    -ms-font-feature-settings: "liga" 0;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media print {
    body {
        background: 0 0
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    -webkit-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s
}

@media (prefers-reduced-motion:reduce) {
    ::-webkit-scrollbar {
        -webkit-transition: none;
        transition: none
    }
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #1e293b;
    background: rgba(30,41,59,.16)
}

::-webkit-scrollbar-track {
    background: #1e293b;
    background: rgba(30,41,59,.06)
}

:hover::-webkit-scrollbar-thumb {
    background: #1e293b;
    background: rgba(30,41,59,.32)
}

::-webkit-scrollbar-corner {
    background: 0 0
}

.lazyLoad {
    cursor: pointer;
}

html {
    font-size: 14px;
}

.elementsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

    .elementsContainer header {
        opacity: 0.3;
    }

.hide {
    display: none;
}

.iconsBox {
    margin-top: 1rem !important;
}


    .iconsBox i {
        font-size: 3em;
    }

.iconsBox svg{ width: 48px;height: 48px;}

.partsNav i:hover,.partsNav svg:hover {
    color: red;
}

.partsNav.active i, .partsNav.active svg {
    color: darkred;
}

.indexBox {
    margin-top: 2rem !important;
    background-color: #000;
    color: #FFF;
    opacity: 0.7;
    padding-top: 2rem !important;
    border-radius: 0.25rem !important;
}

.indexBoxSize {
    font-size: 1em;
}

.roundBox {
    border-radius: 0.25rem !important;
}

    .roundBox caption {
        text-align: right;
        padding-right: 20px;
    }

.whiteBox {
    background-color: #FFF;
    margin-bottom: 1rem !important;
    opacity: 0.7;
}

.grayBox {
    background-color: #000;
    opacity: 0.7;
    margin-bottom: 1rem !important;
}

    .grayBox:hover { opacity: 1; }

.indexCol {
    background-color: #FFF;
    opacity: 0.3;
}

.satic-area {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.dynamic-area1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/b.png) repeat-x 0 0;
    background-size: cover;
    animation: posterDrop1 6000s linear infinite;
}

@keyframes posterDrop1 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 4000% 0;
    }
}

.dynamic-area2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/a.png) repeat-x 0 0;
    background-attachment: fixed;
    background-size: cover;
    animation: posterDrop2 8000s linear infinite;
}

@keyframes posterDrop2 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 30000% 0;
    }
}

.red {
    color: #ff0000
}

.green {
    color: #00FF00
}

.gray {
    color: #666666
}

.indexChartBox {
    background-color: #000;
    color: #FFF;
    opacity: 0.7;
}

#codesContainer .badge,
.card-body .badge {
    color: #BBB;
    font-size: 9px;
    padding: 0 3px;
}


.scaleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleIcon 10s linear infinite;
    -webkit-animation: scaleIcon 5s linear infinite;
}

@keyframes scaleIcon {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3,1.3);
    }

    50% {
        transform: scale(1.8);
    }

    75% {
        transform: scale(1.3,1.3);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes scaleIcon {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3,1.3);
    }

    50% {
        transform: scale(1.8);
    }

    75% {
        transform: scale(1.3,1.3);
    }

    100% {
        transform: scale(1);
    }
}

#bellIcon {
    font-size: 7em;
    color: white;
    width: 64px;
    height: 64px;
}
#bellIcon2 {
    font-size: 5em;
    color: white;
    width: 48px;
    height: 48px;
}
#bellIcon3 {
    font-size: 3em;
    color: white;
    width: 32px;
    height: 32px;
}