@model Ban3.Productions.Casino.Contracts.Models.Targets 
@{
    Layout = null;
    var showTargets = Model.Data.Where(o => !o.Value.Ignore).Select(o => o.Value).ToList();
    var defaultTarget = showTargets.First();
}
<div class="row">
    <div class="col-9">
<h1>@defaultTarget?.Stock.Name 
	<sup>@defaultTarget?.Stock.Symbol</sup>
	<sub>@Model.Data.Count(o => !o.Value.Ignore) targets found.</sub>
	</h1>
                            <ol>
                                @foreach (var p in defaultTarget.Points)
                                {
                                    <li>@Html.Raw(p.Html(defaultTarget.PreClose()))</li>
                                }
                            </ol>
    </div>
    <div class="col-3">
        
    </div>
</div>

    <div class="row">
        <div class="col-12 lazyLoad" id="onesChartsContainer" dataUrl="/parts/stock/@defaultTarget.Stock.Code"></div>
    </div>

