@model Ban3.Productions.Casino.Contracts.Entities.Stock 
@{
    Layout = null;
}
<div class="row">
    <div class="col-3 lazyLoad" dataUrl="/parts/codes"></div>
    <div class="col-9 lazyLoad" id="onesChartsContainer" dataUrl="/parts/stock/688004.SH"></div>
</div>