@model Dictionary<string, int>
@{
    Layout = null;
}

<table data-pagination="true" class="table table-hover table-striped table-dark  table-bordered caption-top">
    <caption>@Model.Sum(o=>o.Value) / @Model.Count</caption>
    <thead>
        <tr>
            <th style="width:75%;">Key</th>
            <th style="width:25%;">Counter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var point in Model.OrderByDescending(o=>o.Value))
        {
            <tr>
                <td>@point.Key</td>
                <td>@point.Value</td>
            </tr>
        }
    </tbody>
</table>
