@model IEnumerable<Ban3.Infrastructures.Indicators.Entries.SetsFeature>
@{
    Layout = null;
}

<form>
    <div class="input-group">
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <input type="text" id="id" name="id" class="form-control col-7" placeholder="code here" aria-label="code here" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary btn-lg" type="submit" id="button-addon2">PinG !</button>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <input type="text" id="id" name="id" class="form-control col-7" placeholder="code here" aria-label="code here" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary btn-lg" type="submit" id="button-addon2">PinG !</button>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
        <div class="input-group-text col">
            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
        </div>
    </div>
</form>

