@model IEnumerable<Ban3.Infrastructures.Indicators.Entries.ListRecord> 
@{
    Layout = null;
}
<table data-pagination="true" class="table table-hover table-dark table-bordered">
    <thead>
    <tr>
        <th class="col-3">Symbol</th>
        <th class="col-6">Close</th>
        <th class="col-3">Rank</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var point in Model.OrderBy(o => o.Rank))
    {
        <tr class="renderChartsButton"
            renderElement="chartsContainer"
            dataUrl="/data/macd/@point.Code"
            renderContainer="chartsSection">
            <td>@point.Symbol</td>
            <td>@point.Close </td>
            <td>@($"{point.Rank}")  <span class="badge">@point.Value</span></td>
        </tr>
    }
    </tbody>
</table>