@model IEnumerable<Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Entities.BuildDefinitionReference>
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">@Model.Count() Definitions</div>
    <div class="card-body">
            @foreach (var definition in Model.OrderBy(o=>o.Id))
            {
                <div class="row">
                    <div class="col-2">@definition.Id</div>
                    <div class="col-10">@definition.Name
                    <span class="badge">@definition.Path</span>
                        </div>
                </div>
            
            }
    </div>
</div>