@using Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Extensions
@model IEnumerable<Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Entities.Folder>
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">@Model.Count() Folders</div>
    <div class="card-body">
            @foreach (var folder in Model.OrderBy(o=>o.Path))
            {
                <div class="row"><div class="col-10">@folder.Path</div></div>
            }
    </div>
</div>