@using System.Linq;
@model IEnumerable<Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Entities.WebApiTeam>
@{
    Layout = null;

    var showTeams = Model.Where(o => o.Members != null && o.Members.Count > 0 && o.Name.Contains("SSME"))
        .OrderBy(o=>o.Name)
        .ToList();
}

@foreach (var team in showTeams)
{
    <label class="form-selectgroup-item flex-fill teamRow">
        <input type="radio" name="LimitTeamNames" value="@team.Name" class="form-selectgroup-input">
        <div class="form-selectgroup-label d-flex align-items-center p-3">
            <div class="me-3">
                <span class="form-selectgroup-check"></span>
            </div>
            <div class="col">
                <div class="font-weight-medium teamName">
                    @team.Name
                </div>
                <div class="text-muted teamSummary col row">
                    <div class="col-4 memberCount">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                            </svg>
                        </i> <span class="noticeNumber">@team.Members?.Count</span>
                    </div>
                    <div class="col-8"></div>
                </div>
            </div>
        </div>
    </label>
}

<script>
    $(document).ready(function () {
        if ($("#LimitTeamNames").val() != "") {
            $("input:radio[value='" + $("#LimitTeamNames").val() + "']").attr('checked', 'true');


            requestIdentities();
            requestTable();
        }

        $('input[type=radio][name=LimitTeamNames]').change(function () {
            $("#LimitTeamNames").val($(this).val());
            $("#pageNo").val(1);
            requestIdentities();
            requestTable();
        });

        $("#HasComments").change(function () {
            requestTable();
        });
    });
</script>