@model Ban3.Platforms.TeamFoundationCollector.Domain.Contract.Request.Reports.TfvcFilter
@{
    ViewData["Title"] = "DevOps api client.";
}

@section PreTitle
{
    <div class="page-header d-print-none text-white" style="margin-top: 0; margin-bottom: 0; height: 60px; overflow: hidden;">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">
                    filter teams/members changesets or shelvesets
                </div>
                <div class="col-12 col-md-auto ms-auto d-print-none">
                    <form onsubmit="return requestTable();" id="form">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="input-group mb-2">
                                    <span class="input-group-text">From</span>
                                    <input type="text" value="@Model.FromDate" class="form-control datepicker" id="fromDate" placeholder="yyyy-MM-dd" autocomplete="off" data-date-format="yyyy-mm-dd">
                                    <span class="input-group-text">To</span>
                                    <input type="text" value="@Model.ToDate" class="form-control datepicker" id="toDate" placeholder="yyyy-MM-dd" autocomplete="off" data-date-format="yyyy-mm-dd">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group mb-2">
                                    <span class="input-group-text" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart" title="select team,toggle teams at left side">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <circle cx="9" cy="7" r="4"></circle>
                                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                            <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                                        </svg>
                                    </span>
                                    <select id="ref" class="form-control" title="choice data set">
                                        <option value="0" selected="selected">All</option>
                                        <option value="1">Changeset</option>
                                        <option value="2">Shelveset</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input type="text" class="form-control mb-2" id="keyword" placeholder="include content">
                                    <span class="input-group-text col-auto">
                                        <label class="row">
                                            <span class="col-auto">
                                                <label class="form-check form-check-single form-switch" title="has comments">
                                                    <input class="form-check-input" name="HasComments" id="HasComments" type="checkbox" checked="checked">
                                                </label>
                                            </span>
                                        </label>
                                    </span>

                                    <button type="submit" class="btn btn-info mb-2">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M5.5 5h13a1 1 0 0 1 .5 1.5l-5 5.5l0 7l-4 -3l0 -4l-5 -5.5a1 1 0 0 1 .5 -1.5"></path>
                                            </svg>
                                        </i> Filter
                                    </button>
                                    <button type="button" class="btn btn-warning mb-2" onclick="return downloadFileByForm();">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                                <path d="M12 17v-6"></path>
                                                <path d="M9.5 14.5l2.5 2.5l2.5 -2.5"></path>
                                            </svg>
                                        </i> Export
                                    </button>

                                    <input type="hidden" id="pageNo" value="1" />
                                    <input type="hidden" id="pageSize" value="20" />
                                    <input type="hidden" id="exclude" />
                                    <input type="hidden" id="LimitTeamNames" value="@Model.LimitTeamNames[0]" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="row row-deck row-cards">
    <div class="col-md-4 col-lg-4">
        <div class="card" id="membersContainer">

        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="card" id="tableContainer">

        </div>
    </div>
</div>

@section HtmlPlus
{
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasStartLabel">All Teams</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="teamsContainer" class="form-selectgroup">
            </div>
        </div>
    </div>
}

@section TailJs
{
    <script>$(document).ready(function () { focusNav("navA"); });</script>
}
