@using Tfvckits.Infrastructures.Common.Extensions;
@model Tfvckits.Domain.LocalAgent.Request.QueryAnything;

@{
    ViewData["Title"] =string.IsNullOrEmpty(Model.Keyword)? "Query Anything":Model.Keyword;
}

@section PreTitle
    {
    <div class="page-header d-print-none text-white" style="margin-top: 0; margin-bottom: 0; height: 60px; overflow: hidden;">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">
                   Query Anything.<br/>
                    dll:CT.Serv.Intervention;xml:CT.AppCommon.;
                </div>
                <div class="col-12 col-md-auto ms-auto d-print-none">
                    <form onsubmit="return beforeQuery();" id="form">
                        <div class="row align-items-center">
                            <div class="col-4">
                            </div>
                            <div class="col-2">
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                                            <rect x="9" y="3" width="6" height="4" rx="2"></rect>
                                        </svg>
                                    </span>
                                    <select id="ref" class="form-control">
                                        <option value="0" selected="selected">Tree</option>
                                        <option value="1">Graph</option>
                                        <option value="2">Sankey</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input type="text" class="form-control mb-2" id="Keyword" name="Keyword" placeholder="e.g. syngo.Common.Container.exe" value="@Model.Keyword">

                                    <button type="submit" class="btn btn-info mb-2">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M5.5 5h13a1 1 0 0 1 .5 1.5l-5 5.5l0 7l-4 -3l0 -4l-5 -5.5a1 1 0 0 1 .5 -1.5"></path>
                                            </svg>
                                        </i> Filter
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
}

    <div class="row row-deck row-cards card" id="queryResult">
        <div id="diagram" pi="default" style="width:100%;height:1000px;"></div>
        <div id="HTML"></div>
    </div>

@section TailJs
    {

    <script>
        $(document).ready(function () {
            focusNav("navG");
        });
    </script>
    }