@{

}

<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
DEMO
        </div>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-9">
                <div id="chartsContainer" style="height: 1000px; width: 100%;"></div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </main>
</div>

@section TailJs
{
    <script>
        var chartDom = document.getElementById("chartsContainer");
        var currentChart = echarts.init(chartDom);
        
        var option={
  "title": [
    {
      "text": "博汇科技",
      "subtext": "688004",
      "textAlign": "center",
      "left": 0
    }
  ],
  "grid": [
    {
      "left": "5%",
      "right": "5%",
      "bottom": "60%",
      "height": "40%"
    },
    {
      "left": "5%",
      "right": "5%",
      "bottom": "50%",
      "height": "10%"
    },
    {
      "left": "5%",
      "right": "5%",
      "bottom": "40%",
      "height": "10%"
    },
    {
      "left": "5%",
      "right": "5%",
      "bottom": "30%",
      "height": "10%"
    },
    {
      "left": "5%",
      "right": "5%",
      "bottom": "20%",
      "height": "10%"
    },
    {
      "left": "5%",
      "right": "5%",
      "bottom": "10%",
      "height": "10%"
    },
    {
      "left": "5%",
      "right": "5%",
      "bottom": "0",
      "height": "10%"
    }
  ],
  "xAxis": [
    {
      "gridIndex": 0,
      "show": true,
      "type": "category",
      "data": [ "20200612", "20200702", "20200803", "20200902", "20201009", "20201102", "20201202", "20210104", "20210202", "20210302", "20210402", "20210506", "20210602", "20210702", "20210802", "20210902", "20211008", "20211102", "20211202", "20220104", "20220207", "20220302", "20220406", "20220505", "20220602", "20220704", "20220802", "20220902", "20221010", "20221102", "20221202", "20230103", "20230202", "20230302", "20230403" ]
    },
    {
      "gridIndex": 1,
      "show": false,
      "type": "category",
      "data": [ "20200612", "20200702", "20200803", "20200902", "20201009", "20201102", "20201202", "20210104", "20210202", "20210302", "20210402", "20210506", "20210602", "20210702", "20210802", "20210902", "20211008", "20211102", "20211202", "20220104", "20220207", "20220302", "20220406", "20220505", "20220602", "20220704", "20220802", "20220902", "20221010", "20221102", "20221202", "20230103", "20230202", "20230302", "20230403" ]
    },
    {
      "gridIndex": 2,
      "show": false,
      "type": "category",
      "data": [ "20200612", "20200702", "20200803", "20200902", "20201009", "20201102", "20201202", "20210104", "20210202", "20210302", "20210402", "20210506", "20210602", "20210702", "20210802", "20210902", "20211008", "20211102", "20211202", "20220104", "20220207", "20220302", "20220406", "20220505", "20220602", "20220704", "20220802", "20220902", "20221010", "20221102", "20221202", "20230103", "20230202", "20230302", "20230403" ]
    },
    {
      "gridIndex": 3,
      "show": false,
      "type": "category",
      "data": [ "20200612", "20200702", "20200803", "20200902", "20201009", "20201102", "20201202", "20210104", "20210202", "20210302", "20210402", "20210506", "20210602", "20210702", "20210802", "20210902", "20211008", "20211102", "20211202", "20220104", "20220207", "20220302", "20220406", "20220505", "20220602", "20220704", "20220802", "20220902", "20221010", "20221102", "20221202", "20230103", "20230202", "20230302", "20230403" ]
    },
    {
      "gridIndex": 4,
      "show": false,
      "type": "category",
      "data": [ "20200612", "20200702", "20200803", "20200902", "20201009", "20201102", "20201202", "20210104", "20210202", "20210302", "20210402", "20210506", "20210602", "20210702", "20210802", "20210902", "20211008", "20211102", "20211202", "20220104", "20220207", "20220302", "20220406", "20220505", "20220602", "20220704", "20220802", "20220902", "20221010", "20221102", "20221202", "20230103", "20230202", "20230302", "20230403" ]
    },
    {
      "gridIndex": 5,
      "show": false,
      "type": "category",
      "data": [ "20200612", "20200702", "20200803", "20200902", "20201009", "20201102", "20201202", "20210104", "20210202", "20210302", "20210402", "20210506", "20210602", "20210702", "20210802", "20210902", "20211008", "20211102", "20211202", "20220104", "20220207", "20220302", "20220406", "20220505", "20220602", "20220704", "20220802", "20220902", "20221010", "20221102", "20221202", "20230103", "20230202", "20230302", "20230403" ]
    },
    {
      "gridIndex": 6,
      "show": false,
      "type": "category",
      "data": [ "20200612", "20200702", "20200803", "20200902", "20201009", "20201102", "20201202", "20210104", "20210202", "20210302", "20210402", "20210506", "20210602", "20210702", "20210802", "20210902", "20211008", "20211102", "20211202", "20220104", "20220207", "20220302", "20220406", "20220505", "20220602", "20220704", "20220802", "20220902", "20221010", "20221102", "20221202", "20230103", "20230202", "20230302", "20230403" ]
    }
  ],
  "yAxis": [
    {
      "scale": true,
      "splitArea": { "show": true }
    },
    {
      "gridIndex": 1,
      "scale": true,
      "splitArea": { "show": true }
    },
    {
      "gridIndex": 2,
      "scale": true,
      "splitArea": { "show": true }
    },
    {
      "gridIndex": 3,
      "scale": true,
      "splitArea": { "show": true }
    },
    {
      "gridIndex": 4,
      "scale": true,
      "splitArea": { "show": true }
    },
    {
      "gridIndex": 5,
      "scale": true,
      "splitArea": { "show": true }
    },
    {
      "gridIndex": 6,
      "scale": true,
      "splitArea": { "show": true }
    }
  ],
  "dataZoom": [
    { "type": "inside" },
    { "type": "slider" }
  ],
  "series": [
    {
      "name": "688004",
      "type": "candlestick",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 92.0, 98.27, 90.0, 132.98 ],
        [ "20200702", 98.9, 81.0, 74.03, 109.66 ],
        [ "20200803", 81.36, 77.99, 75.19, 90.99 ],
        [ "20200902", 77.8, 65.32, 62.76, 78.68 ],
        [ "20201009", 65.52, 61.8, 61.8, 70.98 ],
        [ "20201102", 61.93, 59.65, 58.0, 64.7 ],
        [ "20201202", 59.25, 46.69, 44.44, 60.0 ],
        [ "20210104", 47.02, 37.74, 37.1, 48.3 ],
        [ "20210202", 41.17, 41.83, 36.0, 42.13 ],
        [ "20210302", 41.36, 37.23, 36.54, 44.1 ],
        [ "20210402", 37.35, 33.52, 33.33, 40.8 ],
        [ "20210506", 33.34, 36.38, 32.54, 48.84 ],
        [ "20210602", 36.44, 36.81, 34.6, 48.84 ],
        [ "20210702", 36.75, 34.18, 32.57, 36.95 ],
        [ "20210802", 33.82, 37.62, 33.8, 40.31 ],
        [ "20210902", 37.7, 33.6, 33.11, 40.3 ],
        [ "20211008", 33.6, 30.97, 29.3, 35.1 ],
        [ "20211102", 31.01, 35.53, 29.69, 35.71 ],
        [ "20211202", 35.07, 35.16, 32.01, 36.82 ],
        [ "20220104", 35.25, 32.69, 31.26, 38.66 ],
        [ "20220207", 32.82, 33.18, 31.75, 35.34 ],
        [ "20220302", 33.38, 30.15, 28.5, 33.59 ],
        [ "20220406", 30.1, 22.2, 20.3, 30.75 ],
        [ "20220505", 22.22, 24.84, 21.63, 26.38 ],
        [ "20220602", 24.68, 24.32, 23.78, 27.1 ],
        [ "20220704", 24.52, 26.15, 23.25, 26.15 ],
        [ "20220802", 25.29, 21.86, 21.43, 27.2 ],
        [ "20220902", 21.88, 20.0, 19.95, 22.98 ],
        [ "20221010", 20.15, 23.08, 19.34, 23.69 ],
        [ "20221102", 23.03, 22.62, 21.51, 26.36 ],
        [ "20221202", 22.62, 20.72, 20.36, 25.09 ],
        [ "20230103", 20.7, 24.69, 20.7, 29.9 ],
        [ "20230202", 24.68, 33.95, 24.52, 35.53 ],
        [ "20230302", 34.16, 31.41, 30.22, 37.77 ],
        [ "20230403", 31.31, 36.01, 31.31, 57.5 ]
      ]
    },
    {
      "name": "MA.5",
      "type": "line",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", 76.88 ],
        [ "20201102", 69.15 ],
        [ "20201202", 62.29 ],
        [ "20210104", 54.24 ],
        [ "20210202", 49.54 ],
        [ "20210302", 44.63 ],
        [ "20210402", 39.40 ],
        [ "20210506", 37.34 ],
        [ "20210602", 37.15 ],
        [ "20210702", 35.62 ],
        [ "20210802", 35.70 ],
        [ "20210902", 35.72 ],
        [ "20211008", 34.64 ],
        [ "20211102", 34.38 ],
        [ "20211202", 34.58 ],
        [ "20220104", 33.59 ],
        [ "20220207", 33.51 ],
        [ "20220302", 33.34 ],
        [ "20220406", 30.68 ],
        [ "20220505", 28.61 ],
        [ "20220602", 26.94 ],
        [ "20220704", 25.53 ],
        [ "20220802", 23.87 ],
        [ "20220902", 23.43 ],
        [ "20221010", 23.08 ],
        [ "20221102", 22.74 ],
        [ "20221202", 21.66 ],
        [ "20230103", 22.22 ],
        [ "20230202", 25.01 ],
        [ "20230302", 26.68 ],
        [ "20230403", 29.36 ]
      ]
    },
    {
      "name": "MA.10",
      "type": "line",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", 60.75 ],
        [ "20210402", 54.28 ],
        [ "20210506", 49.82 ],
        [ "20210602", 45.70 ],
        [ "20210702", 42.58 ],
        [ "20210802", 40.16 ],
        [ "20210902", 37.56 ],
        [ "20211008", 35.99 ],
        [ "20211102", 35.77 ],
        [ "20211202", 35.10 ],
        [ "20220104", 34.65 ],
        [ "20220207", 34.61 ],
        [ "20220302", 33.99 ],
        [ "20220406", 32.53 ],
        [ "20220505", 31.59 ],
        [ "20220602", 30.26 ],
        [ "20220704", 29.52 ],
        [ "20220802", 28.61 ],
        [ "20220902", 27.06 ],
        [ "20221010", 25.85 ],
        [ "20221102", 24.84 ],
        [ "20221202", 23.59 ],
        [ "20230103", 23.05 ],
        [ "20230202", 24.22 ],
        [ "20230302", 24.88 ],
        [ "20230403", 26.05 ]
      ]
    },
    {
      "name": "MA.20",
      "type": "line",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", null ],
        [ "20210402", null ],
        [ "20210506", null ],
        [ "20210602", null ],
        [ "20210702", null ],
        [ "20210802", null ],
        [ "20210902", null ],
        [ "20211008", null ],
        [ "20211102", null ],
        [ "20211202", null ],
        [ "20220104", 47.70 ],
        [ "20220207", 44.44 ],
        [ "20220302", 41.90 ],
        [ "20220406", 39.11 ],
        [ "20220505", 37.09 ],
        [ "20220602", 35.21 ],
        [ "20220704", 33.54 ],
        [ "20220802", 32.30 ],
        [ "20220902", 31.41 ],
        [ "20221010", 30.47 ],
        [ "20221102", 29.74 ],
        [ "20221202", 29.10 ],
        [ "20230103", 28.52 ],
        [ "20230202", 28.38 ],
        [ "20230302", 28.24 ],
        [ "20230403", 28.16 ]
      ]
    },
    {
      "name": "MA.30",
      "type": "line",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", null ],
        [ "20210402", null ],
        [ "20210506", null ],
        [ "20210602", null ],
        [ "20210702", null ],
        [ "20210802", null ],
        [ "20210902", null ],
        [ "20211008", null ],
        [ "20211102", null ],
        [ "20211202", null ],
        [ "20220104", null ],
        [ "20220207", null ],
        [ "20220302", null ],
        [ "20220406", null ],
        [ "20220505", null ],
        [ "20220602", null ],
        [ "20220704", null ],
        [ "20220802", null ],
        [ "20220902", null ],
        [ "20221010", null ],
        [ "20221102", 40.08 ],
        [ "20221202", 37.49 ],
        [ "20230103", 35.62 ],
        [ "20230202", 34.15 ],
        [ "20230302", 33.02 ],
        [ "20230403", 32.16 ]
      ]
    },
    {
      "name": "ENE.Upper",
      "type": "line",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", 67.43 ],
        [ "20210402", 60.25 ],
        [ "20210506", 55.29 ],
        [ "20210602", 50.72 ],
        [ "20210702", 47.27 ],
        [ "20210802", 44.58 ],
        [ "20210902", 41.69 ],
        [ "20211008", 39.95 ],
        [ "20211102", 39.70 ],
        [ "20211202", 38.96 ],
        [ "20220104", 38.46 ],
        [ "20220207", 38.42 ],
        [ "20220302", 37.73 ],
        [ "20220406", 36.11 ],
        [ "20220505", 35.07 ],
        [ "20220602", 33.59 ],
        [ "20220704", 32.77 ],
        [ "20220802", 31.75 ],
        [ "20220902", 30.03 ],
        [ "20221010", 28.69 ],
        [ "20221102", 27.57 ],
        [ "20221202", 26.19 ],
        [ "20230103", 25.58 ],
        [ "20230202", 26.89 ],
        [ "20230302", 27.62 ],
        [ "20230403", 28.91 ]
      ]
    },
    {
      "name": "ENE",
      "type": "line",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", 61.36 ],
        [ "20210402", 54.82 ],
        [ "20210506", 50.31 ],
        [ "20210602", 46.15 ],
        [ "20210702", 43.01 ],
        [ "20210802", 40.56 ],
        [ "20210902", 37.94 ],
        [ "20211008", 36.35 ],
        [ "20211102", 36.12 ],
        [ "20211202", 35.45 ],
        [ "20220104", 35.00 ],
        [ "20220207", 34.96 ],
        [ "20220302", 34.33 ],
        [ "20220406", 32.86 ],
        [ "20220505", 31.91 ],
        [ "20220602", 30.56 ],
        [ "20220704", 29.82 ],
        [ "20220802", 28.89 ],
        [ "20220902", 27.32 ],
        [ "20221010", 26.10 ],
        [ "20221102", 25.08 ],
        [ "20221202", 23.83 ],
        [ "20230103", 23.28 ],
        [ "20230202", 24.46 ],
        [ "20230302", 25.13 ],
        [ "20230403", 26.30 ]
      ]
    },
    {
      "name": "ENE.Lower",
      "type": "line",
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", 55.28 ],
        [ "20210402", 49.39 ],
        [ "20210506", 45.33 ],
        [ "20210602", 41.58 ],
        [ "20210702", 38.75 ],
        [ "20210802", 36.55 ],
        [ "20210902", 34.18 ],
        [ "20211008", 32.75 ],
        [ "20211102", 32.55 ],
        [ "20211202", 31.94 ],
        [ "20220104", 31.53 ],
        [ "20220207", 31.50 ],
        [ "20220302", 30.93 ],
        [ "20220406", 29.60 ],
        [ "20220505", 28.75 ],
        [ "20220602", 27.54 ],
        [ "20220704", 26.86 ],
        [ "20220802", 26.03 ],
        [ "20220902", 24.62 ],
        [ "20221010", 23.52 ],
        [ "20221102", 22.60 ],
        [ "20221202", 21.47 ],
        [ "20230103", 20.97 ],
        [ "20230202", 22.04 ],
        [ "20230302", 22.64 ],
        [ "20230403", 23.70 ]
      ]
    },
    {
      "name": "AMOUNT",
      "type": "bar",
      "xAxisIndex": 1,
      "yAxisIndex": 1,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 11893157.0 ],
        [ "20200702", 5896060.0 ],
        [ "20200803", 2431226.0 ],
        [ "20200902", 880381.1 ],
        [ "20201009", 430095.03 ],
        [ "20201102", 478789.53 ],
        [ "20201202", 488176.53 ],
        [ "20210104", 530592.2 ],
        [ "20210202", 260953.62 ],
        [ "20210302", 337645.34 ],
        [ "20210402", 450434.1 ],
        [ "20210506", 602000.3 ],
        [ "20210602", 1212822.0 ],
        [ "20210702", 498782.44 ],
        [ "20210802", 1230059.9 ],
        [ "20210902", 689363.3 ],
        [ "20211008", 306660.2 ],
        [ "20211102", 593812.9 ],
        [ "20211202", 773085.6 ],
        [ "20220104", 1180946.1 ],
        [ "20220207", 549494.5 ],
        [ "20220302", 444392.78 ],
        [ "20220406", 301115.44 ],
        [ "20220505", 257390.45 ],
        [ "20220602", 430749.6 ],
        [ "20220704", 323895.2 ],
        [ "20220802", 468716.56 ],
        [ "20220902", 190884.83 ],
        [ "20221010", 302268.38 ],
        [ "20221102", 482346.3 ],
        [ "20221202", 294134.9 ],
        [ "20230103", 474017.12 ],
        [ "20230202", 60944724.0 ],
        [ "20230302", 3228172.8 ],
        [ "20230403", 7588750.5 ]
      ]
    },
    {
      "name": "AMOUNT.5",
      "type": "line",
      "xAxisIndex": 1,
      "yAxisIndex": 1,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", 4306184.0 ],
        [ "20201102", 2023310.0 ],
        [ "20201202", 941734.0 ],
        [ "20210104", 561607.0 ],
        [ "20210202", 437721.0 ],
        [ "20210302", 419231.0 ],
        [ "20210402", 413560.0 ],
        [ "20210506", 436325.0 ],
        [ "20210602", 572771.0 ],
        [ "20210702", 620337.0 ],
        [ "20210802", 798820.0 ],
        [ "20210902", 846606.0 ],
        [ "20211008", 787538.0 ],
        [ "20211102", 663736.0 ],
        [ "20211202", 718596.0 ],
        [ "20220104", 708774.0 ],
        [ "20220207", 680800.0 ],
        [ "20220302", 708346.0 ],
        [ "20220406", 649807.0 ],
        [ "20220505", 546668.0 ],
        [ "20220602", 396629.0 ],
        [ "20220704", 351509.0 ],
        [ "20220802", 356373.0 ],
        [ "20220902", 334327.0 ],
        [ "20221010", 343303.0 ],
        [ "20221102", 353622.0 ],
        [ "20221202", 347670.0 ],
        [ "20230103", 348730.0 ],
        [ "20230202", 12499497.0 ],
        [ "20230302", 13084678.0 ],
        [ "20230403", 14505959.0 ]
      ]
    },
    {
      "name": "AMOUNT.10",
      "type": "line",
      "xAxisIndex": 1,
      "yAxisIndex": 1,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", 2362708.0 ],
        [ "20210402", 1218435.0 ],
        [ "20210506", 689029.0 ],
        [ "20210602", 567189.0 ],
        [ "20210702", 529029.0 ],
        [ "20210802", 609026.0 ],
        [ "20210902", 630083.0 ],
        [ "20211008", 611931.0 ],
        [ "20211102", 618253.0 ],
        [ "20211202", 669467.0 ],
        [ "20220104", 753797.0 ],
        [ "20220207", 763703.0 ],
        [ "20220302", 747942.0 ],
        [ "20220406", 656771.0 ],
        [ "20220505", 632632.0 ],
        [ "20220602", 552701.0 ],
        [ "20220704", 516154.0 ],
        [ "20220802", 532360.0 ],
        [ "20220902", 492067.0 ],
        [ "20221010", 444985.0 ],
        [ "20221102", 375125.0 ],
        [ "20221202", 349589.0 ],
        [ "20230103", 352552.0 ],
        [ "20230202", 6416912.0 ],
        [ "20230302", 6713991.0 ],
        [ "20230403", 7429791.0 ]
      ]
    },
    {
      "name": "MACD",
      "type": "bar",
      "xAxisIndex": 2,
      "yAxisIndex": 2,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 0.0 ],
        [ "20200702", -2.204 ],
        [ "20200803", -3.850 ],
        [ "20200902", -6.282 ],
        [ "20201009", -7.900 ],
        [ "20201102", -8.726 ],
        [ "20201202", -10.374 ],
        [ "20210104", -11.916 ],
        [ "20210202", -11.620 ],
        [ "20210302", -11.268 ],
        [ "20210402", -10.764 ],
        [ "20210506", -9.324 ],
        [ "20210602", -7.662 ],
        [ "20210702", -6.324 ],
        [ "20210802", -4.468 ],
        [ "20210902", -3.326 ],
        [ "20211008", -2.508 ],
        [ "20211102", -1.012 ],
        [ "20211202", 0.204 ],
        [ "20220104", 0.914 ],
        [ "20220207", 1.642 ],
        [ "20220302", 1.892 ],
        [ "20220406", 1.196 ],
        [ "20220505", 1.294 ],
        [ "20220602", 1.476 ],
        [ "20220704", 1.998 ],
        [ "20220802", 1.924 ],
        [ "20220902", 1.782 ],
        [ "20221010", 2.232 ],
        [ "20221102", 2.572 ],
        [ "20221202", 2.636 ],
        [ "20230103", 3.268 ],
        [ "20230202", 4.890 ],
        [ "20230302", 5.532 ],
        [ "20230403", 6.422 ]
      ]
    },
    {
      "name": "MACD.DEA",
      "type": "line",
      "xAxisIndex": 2,
      "yAxisIndex": 2,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 0.0 ],
        [ "20200702", -0.276 ],
        [ "20200803", -0.757 ],
        [ "20200902", -1.542 ],
        [ "20201009", -2.529 ],
        [ "20201102", -3.620 ],
        [ "20201202", -4.917 ],
        [ "20210104", -6.407 ],
        [ "20210202", -7.859 ],
        [ "20210302", -9.268 ],
        [ "20210402", -10.613 ],
        [ "20210506", -11.778 ],
        [ "20210602", -12.736 ],
        [ "20210702", -13.526 ],
        [ "20210802", -14.084 ],
        [ "20210902", -14.500 ],
        [ "20211008", -14.813 ],
        [ "20211102", -14.939 ],
        [ "20211202", -14.913 ],
        [ "20220104", -14.799 ],
        [ "20220207", -14.594 ],
        [ "20220302", -14.357 ],
        [ "20220406", -14.207 ],
        [ "20220505", -14.045 ],
        [ "20220602", -13.860 ],
        [ "20220704", -13.610 ],
        [ "20220802", -13.370 ],
        [ "20220902", -13.147 ],
        [ "20221010", -12.868 ],
        [ "20221102", -12.546 ],
        [ "20221202", -12.216 ],
        [ "20230103", -11.807 ],
        [ "20230202", -11.196 ],
        [ "20230302", -10.505 ],
        [ "20230403", -9.702 ]
      ]
    },
    {
      "name": "MACD.DIF",
      "type": "line",
      "xAxisIndex": 2,
      "yAxisIndex": 2,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 0.0 ],
        [ "20200702", -1.378 ],
        [ "20200803", -2.682 ],
        [ "20200902", -4.683 ],
        [ "20201009", -6.479 ],
        [ "20201102", -7.983 ],
        [ "20201202", -10.104 ],
        [ "20210104", -12.365 ],
        [ "20210202", -13.669 ],
        [ "20210302", -14.902 ],
        [ "20210402", -15.995 ],
        [ "20210506", -16.440 ],
        [ "20210602", -16.567 ],
        [ "20210702", -16.688 ],
        [ "20210802", -16.318 ],
        [ "20210902", -16.163 ],
        [ "20211008", -16.067 ],
        [ "20211102", -15.445 ],
        [ "20211202", -14.811 ],
        [ "20220104", -14.342 ],
        [ "20220207", -13.773 ],
        [ "20220302", -13.411 ],
        [ "20220406", -13.609 ],
        [ "20220505", -13.398 ],
        [ "20220602", -13.122 ],
        [ "20220704", -12.611 ],
        [ "20220802", -12.408 ],
        [ "20220902", -12.256 ],
        [ "20221010", -11.752 ],
        [ "20221102", -11.260 ],
        [ "20221202", -10.898 ],
        [ "20230103", -10.173 ],
        [ "20230202", -8.751 ],
        [ "20230302", -7.739 ],
        [ "20230403", -6.491 ]
      ]
    },
    {
      "name": "DMI.PDI",
      "type": "line",
      "xAxisIndex": 3,
      "yAxisIndex": 3,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 0.0 ],
        [ "20200702", 0.0 ],
        [ "20200803", 0.0 ],
        [ "20200902", 0.0 ],
        [ "20201009", 0.0 ],
        [ "20201102", 0.0 ],
        [ "20201202", 0.0 ],
        [ "20210104", 0.0 ],
        [ "20210202", 0.0 ],
        [ "20210302", 1.182 ],
        [ "20210402", 1.131 ],
        [ "20210506", 5.257 ],
        [ "20210602", 4.891 ],
        [ "20210702", 4.788 ],
        [ "20210802", 7.747 ],
        [ "20210902", 9.276 ],
        [ "20211008", 9.967 ],
        [ "20211102", 11.252 ],
        [ "20211202", 12.589 ],
        [ "20220104", 14.042 ],
        [ "20220207", 15.589 ],
        [ "20220302", 16.519 ],
        [ "20220406", 15.851 ],
        [ "20220505", 14.385 ],
        [ "20220602", 15.704 ],
        [ "20220704", 8.837 ],
        [ "20220802", 9.797 ],
        [ "20220902", 9.970 ],
        [ "20221010", 6.701 ],
        [ "20221102", 10.620 ],
        [ "20221202", 10.780 ],
        [ "20230103", 15.975 ],
        [ "20230202", 20.363 ],
        [ "20230302", 20.821 ],
        [ "20230403", 35.381 ]
      ]
    },
    {
      "name": "DMI.MDI",
      "type": "line",
      "xAxisIndex": 3,
      "yAxisIndex": 3,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 0.0 ],
        [ "20200702", 20.315 ],
        [ "20200803", 16.916 ],
        [ "20200902", 25.741 ],
        [ "20201009", 24.567 ],
        [ "20201102", 26.274 ],
        [ "20201202", 32.955 ],
        [ "20210104", 35.340 ],
        [ "20210202", 34.670 ],
        [ "20210302", 33.097 ],
        [ "20210402", 33.521 ],
        [ "20210506", 30.652 ],
        [ "20210602", 28.519 ],
        [ "20210702", 28.893 ],
        [ "20210802", 34.998 ],
        [ "20210902", 31.303 ],
        [ "20211008", 36.477 ],
        [ "20211102", 29.379 ],
        [ "20211202", 29.649 ],
        [ "20220104", 26.325 ],
        [ "20220207", 16.740 ],
        [ "20220302", 13.748 ],
        [ "20220406", 19.839 ],
        [ "20220505", 20.375 ],
        [ "20220602", 18.007 ],
        [ "20220704", 21.411 ],
        [ "20220802", 26.071 ],
        [ "20220902", 25.812 ],
        [ "20221010", 26.561 ],
        [ "20221102", 26.466 ],
        [ "20221202", 23.121 ],
        [ "20230103", 22.131 ],
        [ "20230202", 20.425 ],
        [ "20230302", 20.387 ],
        [ "20230403", 15.922 ]
      ]
    },
    {
      "name": "DMI.ADX",
      "type": "line",
      "xAxisIndex": 3,
      "yAxisIndex": 3,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 0.0 ],
        [ "20200702", 0.0 ],
        [ "20200803", 0.0 ],
        [ "20200902", 0.0 ],
        [ "20201009", 0.0 ],
        [ "20201102", 83.333 ],
        [ "20201202", 100.0 ],
        [ "20210104", 100.0 ],
        [ "20210202", 100.0 ],
        [ "20210302", 98.851 ],
        [ "20210402", 97.762 ],
        [ "20210506", 92.883 ],
        [ "20210602", 88.003 ],
        [ "20210702", 83.264 ],
        [ "20210802", 77.223 ],
        [ "20210902", 70.753 ],
        [ "20211008", 64.687 ],
        [ "20211102", 60.336 ],
        [ "20211202", 55.281 ],
        [ "20220104", 48.425 ],
        [ "20220207", 38.392 ],
        [ "20220302", 30.871 ],
        [ "20220406", 23.220 ],
        [ "20220505", 18.657 ],
        [ "20220602", 13.064 ],
        [ "20220704", 14.920 ],
        [ "20220802", 21.889 ],
        [ "20220902", 27.742 ],
        [ "20221010", 35.831 ],
        [ "20221102", 40.081 ],
        [ "20221202", 45.009 ],
        [ "20230103", 40.773 ],
        [ "20230202", 33.237 ],
        [ "20230302", 26.033 ],
        [ "20230403", 22.403 ]
      ]
    },
    {
      "name": "DMI.ADXR",
      "type": "line",
      "xAxisIndex": 3,
      "yAxisIndex": 3,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 0.0 ],
        [ "20200702", 0.0 ],
        [ "20200803", 0.0 ],
        [ "20200902", 0.0 ],
        [ "20201009", 0.0 ],
        [ "20201102", 0.0 ],
        [ "20201202", 0.0 ],
        [ "20210104", 0.0 ],
        [ "20210202", 0.0 ],
        [ "20210302", 0.0 ],
        [ "20210402", 0.0 ],
        [ "20210506", 88.108 ],
        [ "20210602", 94.002 ],
        [ "20210702", 91.632 ],
        [ "20210802", 88.612 ],
        [ "20210902", 84.802 ],
        [ "20211008", 81.225 ],
        [ "20211102", 76.609 ],
        [ "20211202", 71.642 ],
        [ "20220104", 65.844 ],
        [ "20220207", 57.808 ],
        [ "20220302", 50.812 ],
        [ "20220406", 43.954 ],
        [ "20220505", 39.496 ],
        [ "20220602", 34.172 ],
        [ "20220704", 31.673 ],
        [ "20220802", 30.140 ],
        [ "20220902", 29.307 ],
        [ "20221010", 29.526 ],
        [ "20221102", 29.369 ],
        [ "20221202", 29.037 ],
        [ "20230103", 27.847 ],
        [ "20230202", 27.563 ],
        [ "20230302", 26.888 ],
        [ "20230403", 29.117 ]
      ]
    },
    {
      "name": "KD.K",
      "type": "line",
      "xAxisIndex": 4,
      "yAxisIndex": 4,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", 19.242 ],
        [ "20200702", 17.388 ],
        [ "20200803", 14.257 ],
        [ "20200902", 10.822 ],
        [ "20201009", 7.258 ],
        [ "20201102", 5.102 ],
        [ "20201202", 3.923 ],
        [ "20210104", 2.814 ],
        [ "20210202", 3.336 ],
        [ "20210302", 3.050 ],
        [ "20210402", 2.298 ],
        [ "20210506", 3.616 ],
        [ "20210602", 5.818 ],
        [ "20210702", 6.189 ],
        [ "20210802", 9.360 ],
        [ "20210902", 9.438 ],
        [ "20211008", 9.235 ],
        [ "20211102", 14.846 ],
        [ "20211202", 20.035 ],
        [ "20220104", 20.660 ],
        [ "20220207", 20.616 ],
        [ "20220302", 18.944 ],
        [ "20220406", 16.164 ],
        [ "20220505", 17.103 ],
        [ "20220602", 18.536 ],
        [ "20220704", 22.226 ],
        [ "20220802", 19.716 ],
        [ "20220902", 14.226 ],
        [ "20221010", 15.141 ],
        [ "20221102", 17.339 ],
        [ "20221202", 16.578 ],
        [ "20230103", 24.909 ],
        [ "20230202", 43.324 ],
        [ "20230302", 53.470 ],
        [ "20230403", 53.560 ]
      ]
    },
    {
      "name": "KD.D",
      "type": "line",
      "xAxisIndex": 4,
      "yAxisIndex": 4,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", 16.962 ],
        [ "20200902", 14.156 ],
        [ "20201009", 10.779 ],
        [ "20201102", 7.727 ],
        [ "20201202", 5.428 ],
        [ "20210104", 3.946 ],
        [ "20210202", 3.358 ],
        [ "20210302", 3.067 ],
        [ "20210402", 2.895 ],
        [ "20210506", 2.988 ],
        [ "20210602", 3.911 ],
        [ "20210702", 5.208 ],
        [ "20210802", 7.122 ],
        [ "20210902", 8.329 ],
        [ "20211008", 9.344 ],
        [ "20211102", 11.173 ],
        [ "20211202", 14.705 ],
        [ "20220104", 18.514 ],
        [ "20220207", 20.437 ],
        [ "20220302", 20.073 ],
        [ "20220406", 18.575 ],
        [ "20220505", 17.404 ],
        [ "20220602", 17.268 ],
        [ "20220704", 19.288 ],
        [ "20220802", 20.159 ],
        [ "20220902", 18.723 ],
        [ "20221010", 16.361 ],
        [ "20221102", 15.569 ],
        [ "20221202", 16.353 ],
        [ "20230103", 19.609 ],
        [ "20230202", 28.270 ],
        [ "20230302", 40.568 ],
        [ "20230403", 50.118 ]
      ]
    },
    {
      "name": "BIAS",
      "type": "line",
      "xAxisIndex": 5,
      "yAxisIndex": 5,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", -19.397 ],
        [ "20201202", -28.617 ],
        [ "20210104", -35.152 ],
        [ "20210202", -19.823 ],
        [ "20210302", -21.605 ],
        [ "20210402", -21.640 ],
        [ "20210506", -6.473 ],
        [ "20210602", -1.187 ],
        [ "20210702", -6.760 ],
        [ "20210802", 4.625 ],
        [ "20210902", -4.956 ],
        [ "20211008", -11.329 ],
        [ "20211102", 2.142 ],
        [ "20211202", 1.884 ],
        [ "20220104", -4.588 ],
        [ "20220207", -1.020 ],
        [ "20220302", -8.489 ],
        [ "20220406", -29.490 ],
        [ "20220505", -16.372 ],
        [ "20220602", -12.822 ],
        [ "20220704", -2.451 ],
        [ "20220802", -12.279 ],
        [ "20220902", -13.897 ],
        [ "20221010", -1.262 ],
        [ "20221102", -1.674 ],
        [ "20221202", -7.521 ],
        [ "20230103", 11.407 ],
        [ "20230202", 40.423 ],
        [ "20230302", 20.446 ],
        [ "20230403", 27.546 ]
      ]
    },
    {
      "name": "BIAS.MA",
      "type": "line",
      "xAxisIndex": 5,
      "yAxisIndex": 5,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", null ],
        [ "20210402", -24.372 ],
        [ "20210506", -22.218 ],
        [ "20210602", -17.647 ],
        [ "20210702", -12.915 ],
        [ "20210802", -8.840 ],
        [ "20210902", -6.065 ],
        [ "20211008", -4.347 ],
        [ "20211102", -2.911 ],
        [ "20211202", -2.399 ],
        [ "20220104", -2.037 ],
        [ "20220207", -2.978 ],
        [ "20220302", -3.567 ],
        [ "20220406", -6.594 ],
        [ "20220505", -9.679 ],
        [ "20220602", -12.130 ],
        [ "20220704", -11.774 ],
        [ "20220802", -13.650 ],
        [ "20220902", -14.552 ],
        [ "20221010", -9.847 ],
        [ "20221102", -7.398 ],
        [ "20221202", -6.514 ],
        [ "20230103", -4.204 ],
        [ "20230202", 4.579 ],
        [ "20230302", 10.303 ],
        [ "20230403", 15.104 ]
      ]
    },
    {
      "name": "CCI",
      "type": "line",
      "xAxisIndex": 6,
      "yAxisIndex": 6,
      "polarIndex": 0,
      "lineStyle": {
        "width": 0,
        "type": "solid",
        "dashOffset": 0,
        "cap": "butt",
        "join": "bevel",
        "miterLimit": 0,
        "opacity": 0.3
      },
      "smooth": true,
      "data": [
        [ "20200612", null ],
        [ "20200702", null ],
        [ "20200803", null ],
        [ "20200902", null ],
        [ "20201009", null ],
        [ "20201102", null ],
        [ "20201202", null ],
        [ "20210104", null ],
        [ "20210202", null ],
        [ "20210302", null ],
        [ "20210402", null ],
        [ "20210506", null ],
        [ "20210602", null ],
        [ "20210702", -77.764 ],
        [ "20210802", -62.842 ],
        [ "20210902", -64.918 ],
        [ "20211008", -85.801 ],
        [ "20211102", -74.494 ],
        [ "20211202", -67.013 ],
        [ "20220104", -68.197 ],
        [ "20220207", -79.248 ],
        [ "20220302", -135.142 ],
        [ "20220406", -242.672 ],
        [ "20220505", -187.050 ],
        [ "20220602", -130.369 ],
        [ "20220704", -105.412 ],
        [ "20220802", -108.492 ],
        [ "20220902", -117.543 ],
        [ "20221010", -88.415 ],
        [ "20221102", -60.100 ],
        [ "20221202", -72.245 ],
        [ "20230103", -21.513 ],
        [ "20230202", 96.406 ],
        [ "20230302", 135.278 ],
        [ "20230403", 230.789 ]
      ]
    }
  ],
  "animation": true,
  "animationThreshold": 2000,
  "animationDuration": 1000,
  "animationEasing": "cubicOut",
  "animationDelay": 0,
  "animationDurationUpdate": 300,
  "animationEasingUpdate": "cubicInOut",
  "animationDelayUpdate": 0
};

        option && currentChart.setOption(option);
    </script>
}
