@{
    Layout = null;
}

<div class="pb-3">
    <div class="col-12 roundBox grayBox">
        <div id="buyingTreemapContainer"
             style="height: 600px; width: 100%;"
             class="renderCharts"
             renderElement="buyingTreemapContainer"
             dataUrl="/data/dotstreemap/1">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="lazyLoad roundBox grayBox" dataUrl="/parts/dotskey/1">

        </div>
    </div>
    <div class="col-9">
        <div class="lazyLoad roundBox grayBox" dataUrl="/parts/dots">
        </div>
    </div>
</div>

