@{
    ViewData["Title"] = "CAsinO's";
}

<div class="container">
    <main role="main" class="pb-3 mb-3 indexBox rounded-2">
        <div class="text-center col-6 offset-3">
            <div class="input-group  input-group-lg">
                <input type="text" class="form-control form-control-lg col-10" placeholder="code here" aria-label="code here" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-lg" type="button" id="button-addon2">GO !</button>
            </div>
        </div>
    </main>
</div>

<div class="container" id="sankeyContainer">
    <div class="row pb-3">
        <div id="buyingSankeyContainer"
             style="height: 600px; width: 100%;"
             class="renderCharts"
             renderElement="buyingSankeyContainer"
             dataUrl="/data/sankey/1">
        </div>
    </div>
</div>

<div class="container" id="dotsContainer">
    <div class="row pb-3">
        <div class="col-6">
            <div id="buyingTreemapContainer"
                 style="height: 600px; width: 100%;"
                 class="renderCharts"
                 renderElement="buyingTreemapContainer"
                 dataUrl="/data/dotstreemap/1">
            </div>
        </div>
        <div class="col-6">
            <div id="sellingTreemapContainer"
                 style="height: 600px; width: 100%;"
                 class="renderCharts"
                 renderElement="sellingTreemapContainer"
                 dataUrl="/data/dotstreemap/0">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 lazyLoad" dataUrl="/parts/dotskey/1"></div>
        <div class="col-6 lazyLoad" dataUrl="/parts/dots"></div>
        <div class="col-3 lazyLoad" dataUrl="/parts/dotskey/0"></div>
    </div>
</div>
