@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3 mb-3 indexBox rounded-2">
        <div class="text-center col-6 offset-3">
            <div class="input-group  input-group-lg">
                <input type="text" class="form-control form-control-lg col-10" placeholder="code here" aria-label="code here" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-lg" type="button" id="button-addon2">GO !</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="treemapContainer" class="renderCharts" style="height: 400px; width: 100%;" renderElement="treemapContainer" dataUrl="/data/treemap"></div>
            </div>
        </div>
    </main>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 indexCol">
            dd
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div class="col-4 indexCol">
            dddf<br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br />
        </div>
        <div class="col-6 indexCol">
            <br /><br /><br />
            <br /><br /><br /><br /><br />dddd<br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>
