@{
    Layout = null;
}
<div class="pb-3 hide" id="chartsSection">
    <div class="col-12 roundBox grayBox">
        <div id="chartsContainer"
             style="height: 600px; width: 100%;">
        </div>
    </div>
</div>

<div class="row grid" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-4 col-lg-3 mb-4 draggable" draggable="true" renderView='{"EndsWith":"SH"}'>
        <div class="card">
            <div class="card-header">上海</div>
            <div class="card-body col lazyLoad" id="box_60" dataUrl="/parts/list?startsWith=60&amp;pageSize=10">
                
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3 mb-4 draggable" draggable="true">
        <div class="card">
            <div class="card-header">科创板</div>
            <div class="card-body col lazyLoad" id="box_68" dataUrl="/parts/list?startsWith=68&amp;pageSize=30">
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3 mb-4 draggable" draggable="true">
        <div class="card">
            <div class="card-header">深圳</div>
            <div class="card-body col lazyLoad" id="box_sz" dataUrl="/parts/list?startsWith=000&amp;pageSize=10">
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3 mb-4 draggable" draggable="true">
        <div class="card">
            <div class="card-header">创业板</div>
            <div class="card-body col lazyLoad" id="box_30" dataUrl="/parts/list?startsWith=30&amp;pageSize=30">
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3 mb-4 draggable" draggable="true">
        <div class="card">
            <div class="card-header">中小板</div>
            <div class="card-body col lazyLoad" id="box_00" dataUrl="/parts/list?startsWith=002,003&amp;pageSize=20">
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3 mb-4 draggable" draggable="true">
        <div class="card">
            <div class="card-header">北京</div>
            <div class="card-body col lazyLoad"  id="box_bj" dataUrl="/parts/list?endsWith=BJ&amp;pageSize=10">
            </div>
        </div>
    </div>

</div>