@{
    Layout = null;
}

<div class="container" id="sankeyContainer">
    <div class="row pb-3">
        <div id="buyingSankeyContainer"
             style="height: 600px; width: 100%;"
             class="renderCharts"
             renderElement="buyingSankeyContainer"
             dataUrl="/data/sankey/1">
        </div>
    </div>
</div>
