@{
    Layout = null;
}


    <div class="row">
        <div class="col-3 lazyLoad" dataUrl="/parts/features"></div>
        <div class="col-3 lazyLoad" dataUrl="/parts/dots"></div>
        <div class="col-6 lazyLoad" dataUrl="/parts/dotskey/0"></div>
    </div>