@{
    Layout = null;
}

<div class="row">
    <div class="col-4 lazyLoad" dataUrl="/parts/features"></div>
    <div class="col-2 lazyLoad" id="codesContainer" dataUrl="/parts/codes"></div>
    <div class="col-6 lazyLoad" id="onesChartsContainer" dataUrl="/parts/stock/688004.SH"></div>
</div>