@model Ban3.Productions.Casino.Contracts.Entities.Stock
@{
    ViewData["Title"] = $"{Model.Name}.{Model.Symbol}";
}

<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
            @Model.Code
        </div>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-9">
                <div id="chartsContainer" style="height: 1000px; width: 100%;" class="singleStock" code="@Model.Code"></div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </main>
</div>

@section TailJs
{
    <script>
        bindCharts("chartsContainer","@Model.Code","DAILY");
    </script>
}
