@model Ban3.Productions.Casino.Contracts.Entities.Stock
@{
    ViewData["Title"] = $"{Model.Name}.{Model.Symbol}";
    var url = $"/data/Candlestick/{Model.Code}?cycle=DAILY";
}

<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
            @Model.Code
        </div>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-9">
                <div id="chartsDaysContainer" class="renderCharts" style="height: 1400px; width: 100%;" renderElement="chartsDaysContainer" dataUrl="@url"></div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </main>
</div>

@section TailJs
{

}
