@{
    ViewData["Title"] = "kanBan4";
}

<div 
    class="container indexContainer renderCharts"
    renderElement="treemapContainer"
     dataUrl="/data/Treemap" 
     id="treemapContainer" 
     style="background-color:#FFF;height:900px;">
</div>