@{
    ViewData["Title"] = "kanBan4";
}

<div 
    class="container renderCharts" 
    renderElement="treemapContainer" 
    dataUrl="/data/Treemap" 
    id="partsContainer">
    <div class="col" id="treemapContainer" style="height:900px;">
    </div>
</div>