@model Ban3.Infrastructures.Contracts.Entries.CasinoServer.Stock
@{
    ViewData["Title"] = Model != null ? $"{Model.Name}/{Model.Symbol}":"kanban4";
}

<div class="container oneContainer renderCharts"
     renderElement="oneContainer"
     dataUrl="/data/Candlestick/@Model?.Code"
     id="oneContainer"
     style="background-color:#FFF;height:900px;">
</div>